<style>
    .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3rem;
  }
    .section-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1100;
    width: 100%;
    background: var(--color-blanco);
    transition: all 0.3s ease-in-out;
  }
   .logo img {
    height: 1.65rem;
    transition: opacity 0.3s ease-in-out;
  }
  .logo img.white-logo {
    display: none;
  }
  .desktop-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .desktop-menu a {
    text-decoration: none;
    color: var(--color-soil);
  }
  .cart-menu{
    position: relative;
  }
   .mobile-menu-button {
    display: none;
    cursor: pointer;
  }
  .mobile-menu {
   position: fixed;
   background: var(--color-soil);
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   transform: translateY(-100%);
   transition: transform 0.3s ease-in-out;
  }
  .mobile-menu.active {
    transform: translateY(0);
  }
  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  .mobile-menu nav ul {
    list-style: none;
    padding: 1rem 1.25rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .mobile-menu nav a {
    color: var(--color-blanco);
    text-decoration: none;
  }
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  #menu-icon{
  color: var(--color-blanco);
  }
  .icon svg {
    width: 100%;
    height: 100%;
  }
    {% if section.settings.logo_mobile %}
    @media (max-width: 768px) {
      .logo img.default-logo {
        display: none;
      }
      .logo img.white-logo {
        display: block;
      }
    }
      {% endif %}
  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
    .mobile-menu-button {
      display: block;
    }
    .header-content {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
      padding: 1rem 1.25rem;
    }
    .mobile-menu nav a, .mobile-cart{
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
</style>


 <header class="section-header">
    <div class="container">
      <div class="header-content">
         <div class="logo">
          <a href="{{ shop.url }}">
            <img src="{{ settings.logo | img_url: 'medium' }}" alt="{{ shop.name }}"class="default-logo"/>
            {% if section.settings.logo_mobile %}
              <img src="{{ section.settings.logo_mobile | img_url: 'medium' }}" alt="{{ shop.name }}" class="white-logo" />
            {% endif %}
          </a>
        </div>
        
        <nav class="desktop-menu">
          <ul>
            {% for link in linklists.main-menu.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li class="cart-menu">
              <a href="{{ routes.cart_url }}" id="cart-icon-bubble">
                {% if cart == empty %}
                  <span>CART</span>
                {% else %}
                  <span>CART</span>
                {% endif %}
                <span class="visually-hidden">CART</span>
                {%- if cart != empty -%}
                  <div class="cart-count-bubble">
                    {%- if cart.item_count < 100 -%}
                      <span aria-hidden="true">({{ cart.item_count }})</span>
                    {%- endif -%}
                    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                {%- endif -%}
              </a>
            </li>
          </ul>
        </nav>

        <div class="mobile-menu-button" id="menu-toggle">
          <span class="icon" id="menu-icon">
            {{- 'icon-hamburger.svg' | inline_asset_content -}}
          </span>
        </div>
      </div>
    </div>
  </header>

<div class="mobile-menu" id="mobile-menu">
  <nav>
    <ul>
      {% for link in linklists.main-menu.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      <li class="cart-menu">
        <a href="{{ routes.cart_url }}" id="cart-icon-bubble">
          {% if cart == empty %}
            <span class="mobile-cart">CART</span>
          {% else %}
            <span class="mobile-cart">CART</span>
          {% endif %}
          <span class="visually-hidden">CART</span>
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">({{ cart.item_count }})</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </li>
    </ul>
  </nav>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    function toggleMobileMenu() {
      const mobileMenu = document.querySelector('#mobile-menu');
      const menuIcon = document.querySelector('#menu-icon');
      console.log('toggleMobileMenu called');
      console.log('mobileMenu found:', mobileMenu);
      console.log('menuIcon found:', menuIcon);

      mobileMenu.classList.toggle('active');
      console.log('Menu active state:', mobileMenu.classList.contains('active'));

      if (mobileMenu.classList.contains('active')) {
        menuIcon.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-close" viewBox="0 0 18 17"><path fill="currentColor" d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"/></svg>`;
        console.log('Menu icon set to close');
      } else {
        menuIcon.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-hamburger" viewBox="0 0 18 16"><path fill="currentColor" d="M1 .5a.5.5 0 1 0 0 1h15.71a.5.5 0 0 0 0-1zM.5 8a.5.5 0 0 1 .5-.5h15.71a.5.5 0 0 1 0 1H1A.5.5 0 0 1 .5 8m0 7a.5.5 0 0 1 .5-.5h15.71a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5"/></svg>`;
        console.log('Menu icon set to hamburger');
      }
    }

    document.querySelector('#menu-toggle').addEventListener('click', () => {
      console.log('Menu toggle clicked');
      toggleMobileMenu();
    });

    const cartIcon = document.querySelector('#mobile-menu #cart-icon-bubble');
    if (cartIcon) {
      cartIcon.addEventListener('click', () => {
        console.log('Cart icon clicked');
        const mobileMenu = document.querySelector('#mobile-menu');
        const menuIcon = document.querySelector('#menu-icon');
        if (mobileMenu.classList.contains('active')) {
          mobileMenu.classList.remove('active');
          menuIcon.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-hamburger" viewBox="0 0 18 16"><path fill="currentColor" d="M1 .5a.5.5 0 1 0 0 1h15.71a.5.5 0 0 0 0-1zM.5 8a.5.5 0 0 1 .5-.5h15.71a.5.5 0 0 1 0 1H1A.5.5 0 0 1 .5 8m0 7a.5.5 0 0 1 .5-.5h15.71a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5"/></svg>`;
          console.log('Cart click closed menu and set icon to hamburger');
        }
      });
    }
});

</script>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
     {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
  ],
   "presets": [
    {
      "name": "Header",
      "category": "Header",
      "settings": {
        "logo_mobile": "",
        "menu": "main-menu"
      }
    }
  ]
}
{% endschema %}